<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	 xmlns:gap = "http://phonegap.com/ns/1.0"
	 id = "com.jochamo.gallery"
	 versionCode = "1"
	 version = "0.0.1" >

	<name>Galeria!</name>

	<description>Not a simple gallery!</description>

	<author href="http://informatica.desecundaria.com" email="jochamo@gmail.com">
		Jose Chamorro Molina
	</author>

	<icon src="img/icon.png" />

	<access origin="*" />
	
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-dialogs" />	


	<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    	<string>need camera access to take pictures</string>
	</edit-config>

	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    	<string>need photo library access to get pictures from there</string>
	</edit-config>

	<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need location access to find things nearby</string>
	</edit-config>

	<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
    	<string>need photo library access to save pictures there</string>
	</edit-config>

	
</widget>